:root{
    background-color: salmon;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 100px;
    width: 200px;
    background-color: white;
    padding: 150px;
    margin: 5px;
}
.card>p{
    margin: 10px auto;
    background-color: yellow;
}

#nameDiv{
    margin: 50px 0 0 0;
}
.input{
    background-color:aqua
}
#entry{
    width: 150px;
    height: 30px
}
.toggle{
    padding: 50px;
    background-color: orange;
}
